In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.utils import shuffle

In [2]:
train=pd.read_csv("filteredclassificationdata.csv")

In [6]:
train.head()

,label1,a11,a4,a15,a21,a17,a3,a20,a2,a12,...,a9,s9,a14,s14,sd6,a6,sd9,sd14,s6,sd13
0,0,0.401786,0.289887,0.420517,0.778606,0.263158,0.475892,0.777542,0.143969,0.650294,...,0.094489,0.109755,0.197843,0.199608,0.0,1.0,0.000000,0.000000,1,0.000000
1,0,0.409226,0.317735,0.449510,0.782999,0.263158,0.506134,0.745763,0.208171,0.733049,...,0.089086,0.100242,0.177780,0.162813,0.0,1.0,0.118087,0.508246,1,0.160656
2,0,0.357143,0.334766,0.437174,0.733906,0.175439,0.479791,0.717514,0.255512,0.773091,...,0.102356,0.140043,0.174356,0.171793,0.0,1.0,0.364881,0.374753,1,0.120224
3,0,0.305060,0.330508,0.372549,0.723543,0.197368,0.429529,0.684852,0.279183,0.822477,...,0.104581,0.124518,0.173489,0.174889,0.0,1.0,0.305764,0.307559,1,0.133773
4,0,0.296131,0.347031,0.391477,0.728978,0.236842,0.399715,0.669492,0.294942,0.816337,...,0.111697,0.149960,0.172934,0.174734,0.0,1.0,0.361364,0.267278,1,0.117620

In [4]:
train = shuffle(train)

In [5]:
train.columns

Index(['label1', 'a11', 'a4', 'a15', 'a21', 'a17', 'a3', 'a20', 'a2', 'a12',
       'a7', 's11', 's4', 's12', 's7', 's15', 's21', 's20', 's17', 's2', 'a8',
       'a13', 's3', 's8', 's13', 'cycle', 'a9', 's9', 'a14', 's14', 'sd6',
       'a6', 'sd9', 'sd14', 's6', 'sd13'],
      dtype='object')

In [6]:
train.shape

(20631, 36)

In [7]:
train.head()

,label1,a11,a4,a15,a21,a17,a3,a20,a2,a12,...,a9,s9,a14,s14,sd6,a6,sd9,sd14,s6,sd13
3023,0,0.424107,0.406806,0.499623,0.682674,0.394737,0.333067,0.705508,0.374319,0.663107,...,0.144858,0.157677,0.191214,0.190422,0.000000,1.0,0.262928,0.146316,1,0.038018
15300,0,0.596726,0.577274,0.632944,0.413792,0.684211,0.617632,0.370763,0.561868,0.452216,...,0.134124,0.133447,0.162950,0.164981,0.000000,1.0,0.249497,0.391640,1,0.196500
10017,0,0.291667,0.284843,0.387234,0.631824,0.342105,0.432753,0.718220,0.363424,0.739455,...,0.247818,0.230548,0.285965,0.302921,0.632456,0.8,0.367258,0.281942,1,0.088580
9171,0,0.312500,0.334707,0.429285,0.627469,0.210526,0.439829,0.559322,0.274708,0.750133,...,0.214596,0.193440,0.260189,0.245175,0.000000,1.0,0.354034,0.383804,1,0.118494
5490,0,0.193452,0.175379,0.267773,0.832779,0.078947,0.380371,0.720339,0.246693,0.860117,...,0.166337,0.153908,0.226951,0.198679,0.632456,0.8,0.525118,0.487710,0,0.194387

In [8]:
y_train=train['label1']

In [9]:
train=train.drop(['label1'],axis=1)

In [11]:
train.shape
train.head()

,a11,a4,a15,a21,a17,a3,a20,a2,a12,a7,...,a9,s9,a14,s14,sd6,a6,sd9,sd14,s6,sd13
3023,0.424107,0.406806,0.499623,0.682674,0.394737,0.333067,0.705508,0.374319,0.663107,0.646053,...,0.144858,0.157677,0.191214,0.190422,0.000000,1.0,0.262928,0.146316,1,0.038018
15300,0.596726,0.577274,0.632944,0.413792,0.684211,0.617632,0.370763,0.561868,0.452216,0.371930,...,0.134124,0.133447,0.162950,0.164981,0.000000,1.0,0.249497,0.391640,1,0.196500
10017,0.291667,0.284843,0.387234,0.631824,0.342105,0.432753,0.718220,0.363424,0.739455,0.765351,...,0.247818,0.230548,0.285965,0.302921,0.632456,0.8,0.367258,0.281942,1,0.088580
9171,0.312500,0.334707,0.429285,0.627469,0.210526,0.439829,0.559322,0.274708,0.750133,0.605263,...,0.214596,0.193440,0.260189,0.245175,0.000000,1.0,0.354034,0.383804,1,0.118494
5490,0.193452,0.175379,0.267773,0.832779,0.078947,0.380371,0.720339,0.246693,0.860117,0.785088,...,0.166337,0.153908,0.226951,0.198679,0.632456,0.8,0.525118,0.487710,0,0.194387

In [12]:
X_train, X_test, y_train, y_test = train_test_split(train, y_train, test_size=0.05, random_state=42)

In [13]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19599 entries, 13198 to 15493
Data columns (total 35 columns):
a11      19599 non-null float64
a4       19599 non-null float64
a15      19599 non-null float64
a21      19599 non-null float64
a17      19599 non-null float64
a3       19599 non-null float64
a20      19599 non-null float64
a2       19599 non-null float64
a12      19599 non-null float64
a7       19599 non-null float64
s11      19599 non-null float64
s4       19599 non-null float64
s12      19599 non-null float64
s7       19599 non-null float64
s15      19599 non-null float64
s21      19599 non-null float64
s20      19599 non-null float64
s17      19599 non-null float64
s2       19599 non-null float64
a8       19599 non-null float64
a13      19599 non-null float64
s3       19599 non-null float64
s8       19599 non-null float64
s13      19599 non-null float64
cycle    19599 non-null float64
a9       19599 non-null float64
s9       19599 non-null float64
a14      19599 non-null float64
s14      19599 non-null float64
sd6      19599 non-null float64
a6       19599 non-null float64
sd9      19599 non-null float64
sd14     19599 non-null float64
s6       19599 non-null int64
sd13     19599 non-null float64
dtypes: float64(34), int64(1)
memory usage: 5.4 MB

In [14]:
from sklearn.ensemble import RandomForestClassifier

In [15]:
from sklearn.metrics import accuracy_score

In [16]:
Decisionforest= RandomForestClassifier()

In [22]:
Decisionforest.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [23]:
pred=Decisionforest.predict(X_test)

In [24]:
accuracy_score(y_test, pred)

0.9622093023255814

In [25]:
Decisionforest.score(X_train,y_train)

0.9975508954538497

In [17]:
# import pickle
# filename = 'GBR_model.sav'
# pickle.dump(DecisionTree, open(filename, 'wb'))